.hero {
    border-bottom: 1px solid black;

    background-image: url('img/hero.png');
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top center;
    background-attachment: fixed;
    height: 747px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 48px;

    .left {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 24px;
        h1 {
            width: 520px;
            height: auto;
        }
        p {
            width: 500px;
            height: 77px;
            /* font-size: 18px; */
        }
    }
}

#hero-button {
    width: 237px;
    font-size: 16px;
    text-align: left;
    /* padding: 8px 16px; */
    padding: 16px 0px 16px 20px;
}

